.divHeading{
    margin-bottom: 1em;
    border-bottom: #ddd 3px solid;
}
table.tableElig{
    text-align: center;
    margin:0 auto;
    width: 75%;
    border:1px #ddd solid;
    empty-cells: show;
    table-layout: fixed;
    border-collapse: collapse;
}
table.tableElig th,table.tableElig td{
    border:1px #ddd solid;
    text-align: center;
}
table.tableElig tr td:first-child{
    width:4em;
}
table.tableElig tr th:first-child{
    width:4em;
}

.divSubHeading{
    margin-left: 0.8em;
}